@model ArticoliViewModel
@{
	ViewData["Title"] = "Articoli";
}
<div class="container">
    <h1 class="text-center text-info mt-3">Articoli</h1>
    <div class="text-end mb-3">
        <a class="btn btn-sm bg-success text-white" asp-controller="Articoli" asp-action="Add"><i class="bi bi-plus"></i> Nuovo prodotto</a>
    </div>

        @foreach (var articolo in Model.Articoli)
        {
            <div class="card mb-3" style="max-height:530px">
                <div class="row g-0 align-items-center">
                    <div class="col-md-4 overflow-hidden" style="max-height:530px">
                        <img src=@articolo.Copertina class="img-fluid rounded-start rounded-end h-100" alt="scarpa" />
                    </div>
                    <div class="col-md-8 h-100">
                        <div class="row card-body text-center justify-content-center align-content-around py-0 h-100">
                        <div class="col-12 d-flex justify-content-between align-items-center">
                            <a asp-controller="Articoli" asp-action="Info" asp-route-id="@articolo.Id" class="me-4 text-decoration-none"><i class="bi bi-info-circle"></i> Info</a>
                            <a asp-controller="Articoli" asp-action="Modifica" asp-route-id="@articolo.Id"><i class="bi bi-pencil-square h4"></i></a>
                        </div>
                            <div class="col-12 mb-3">
                                <h3 class="card-title fw-bold">@articolo.Nome</h3>
                            </div>
                           
                            <div class="col-1"></div>
                            <div class="col-9 my-3">
                                <p>@articolo.Descrizione</p>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-12">
                                <p class="card-text fw-bold">€ @articolo.Prezzo</p>
                            </div>
                            <form method="post" asp-controller="Articoli" asp-action="Elimina" asp-route-id="@articolo.Id" class="mt-2" onsubmit="return confirm('Sei sicuro di voler eliminare questo prodotto?');">
                                <button type="submit" class="btn btn-danger btn-sm">Elimina</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
        }
</div>
   